*.swp
*.kate-swp
*~
*.bz2
*.gz
*.xz
*.o
*.so
*.a
*.bak

Makefile
Makefile.old
Makefile.PL
Build
Build.bat
META.*
MYMETA.*
.build/
_build/
cover_db/
blib/
inc/
.lwpcookies
.last_cover_stats
nytprof.out
pod2htm*.tmp
pm_to_blib
WW-ParserGen-PDA-*
WW-ParserGen-PDA-*.tar.gz

